
.normal {
  text-align: center;
}
.bg {
  background: url("../assets/bg.jpg");
  background-size: 100% 100%;
  height: 768px;
  width: 100%;
  max-width: 1920px;
  min-width: 1560px;
}
.login-form {
  width: 280px;
  margin-left: 69%;
  padding-top: 210px;
}
.ant-input-affix-wrapper {
  height: 42px;
  margin: 5px 0;
}
.login-form-button {
  margin: 10px 0;
  height: 40px;
  width: 100px;
  font-size: 18px;
  border-color: transparent;
  border-radius: 8px;
}
.register-btn {
  color: #5e6266;
  font-size: 19px;
  margin-left: 200px;
  margin-top: -25px;
}
.check {
  height: 20px;
  margin: -10px 0 15px 0;
}
.login-form-forgot{
  float: right;
}
