/*一些较复杂样式表*/

:global(.ant-btn-primary:hover), :global(.ant-btn-primary:focus){
  border-color: transparent;
}
:global(.ant-tabs-bar) {
  display: none;
}
.ant-table-thead > tr > th {
  text-align: center !important;
}
:global(.ant-steps-label-vertical .ant-steps-item-content){
  width: 80px !important;
}
:global(.ant-steps-dot .ant-steps-item-icon) {
  margin-left: 37px !important;
}
:global(.ant-steps-dot .ant-steps-item-tail) {
  margin-left: 40px !important;
}
:global(#components-form-demo-normal-login .login-form-forgot ){
  float: right;
}

