
.logo {
  width: 150px;
  height: 50px;
  text-align:center;
  position:relative;
  margin-left: 20px;
  margin-top: 15px;
}
.logo-icon {
  height: 50px;
  float: left;
}
.logo-text {
  font-size: 22px;
  position: absolute;
  padding-left: 83px;
  padding-top: 18px;
  color: #0F90E8;
}
