
.logo {
  width: 150px;
  height: 30px;
  text-align:center;
  position:relative;
  margin-left: 20px;
  margin-top: 15px;
}
.logo-icon {
  height: 30px;
  float: left;
}
.logo-text {
  font-size: 12px;
  position: absolute;
  padding-left: 67px;
  padding-top: 12px;
  /*color: #0F90E8;*/
  color: transparent;
}
