.header{
  background: #fff;
  padding-left: 42px;
  height: 78px;
}
.layout{
  /*display: none;*/
}
.logo {
  width: 150px;
  height: 40px;
  text-align:center;
  position:relative;
  margin-top: 15px;
}
.logo-icon {
  height: 40px;
  float: left;
}
.logo-text {
  font-size: 20px;
  position: absolute;
  padding-left: 67px;
  margin-top: -5px;
  color: #0F90E8;
}
.userindex {
  background: url("../../assets/blockbg.jpg");
  background-size: 100% 100%;
  height: 728px;
  width: 100%;
  max-width: 1920px;
  min-width: 1460px;
  position: absolute;
}
.usermenu {
  position: absolute;
  top: 5px;
  right: 100px;
}
.menu-item {
  margin-right: 20px;
  font-size: 18px;
}
.icon {
  margin-right: 5px;
  font-size: 18px;
}
.icondown {
  font-size: 38px;
  margin: 0 3px 0 3px;
  color: #494949;
}
.contentarea {
  background: #f0f2f5;
  margin-top: -6px;
  padding: 24px 64px 24px 24px;
  border-radius: 5px;
}
