.header{
  background: #fff;
  padding-left: 42px;
  height: 78px;
}
.logo {
  width: 150px;
  height: 30px;
  text-align:center;
  position:relative;
  margin-top: 15px;
}
.logo-icon {
  margin-top: 10px;
  height: 30px;
  float: left;
}
.logo-text {
  font-size: 18px;
  position: absolute;
  padding-left: 67px;
  margin-top: -3px;
  color: #0F90E8;
}
.icon {
  margin-right: 5px;
  font-size: 18px;
}
.usermenu {
  position: absolute;
  top: 5px;
  right: 100px;
}
.menu-item {
  margin-right: 20px;
  font-size: 18px;
}
