.orderbtn1 {
  margin-right: 20px;
}
.orderbtn2 {
  margin-left: 13px;
}
.orderbtn3 {
  margin-left: 30px;
}
.ptitle {
  max-width: 330px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 11px;
}
