
html, body, :global(#root) {
  height: 100%;
}
.ant-btn-primary:hover, .ant-btn-primary:focus {
  border-color: transparent;
}
.ant-tabs-bar {
  display: none;
}
.ant-table-thead > tr > th {
  text-align: center !important;
}
.ant-steps-label-vertical .ant-steps-item-content{
  width: 80px !important;
}
.ant-steps-dot .ant-steps-item-icon {
  margin-left: 37px !important;
}
.ant-steps-dot .ant-steps-item-tail {
  margin-left: 40px !important;
}

#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
