
.normal {
  background: url("../../assets/bg.jpg");
  background-size: 100% 100%;
  position: absolute;
  height: 100%;
  width: 100%;
  min-height: 700px;
  min-width: 1280px;
}
.bg {
  background: url("../../assets/loginbg.png") 100% 100%;
  position: absolute;
  right: 0;
  top: 17%;
  width: 500px;
  height: 400px;
}
.login-form {
  margin-top: 80px;
  margin-left: 80px;
  width: 240px;
}
.ant-input-affix-wrapper {
  height: 42px;
  margin: 5px 0;
}
.login-form-button {
  margin: 10px 0 5px 80px;
  height: 40px;
  width: 100px;
  font-size: 18px;
  border-color: transparent;
  border-radius: 8px;
}
.register-btn {
  /*color: #5e6266;*/
  font-size: 16px;
  margin-left: 66px;
  /*margin-top: -25px;*/
}
.check {
  height: 20px;
  margin-top: -10px;
}
/*.logo {*/
  /*position: absolute;*/
  /*top: 15px;*/
  /*left: 20px;*/
/*}*/
.logo {
  width: 150px;
  height: 30px;
  text-align:center;
  position:relative;
  margin-left: 20px;
  margin-top: 15px;
}
.logo-icon {
  height: 40px;
  float: left;
}
.logo-text {
  font-size: 20px;
  position: absolute;
  padding-left: 69px;
  padding-top: 12px;
  color: #FFF;
}
